.DS_Store
.thumbs.db
node_modules

# Quasar core related directories
.quasar
/dist

# PWA related
/src-pwa/service-worker.js

# env files (keep .env.example, ignore .env)
.env
.env.local

# logs
*.log
*.orig
